OldRepo/Feature models/Relis/featureIDE.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "featureModel">
<xs:complexType>
<xs:sequence>
<xs:element name = "properties">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name = "struct">
<xs:complexType>
<xs:sequence>
<xs:element name = "and">
<xs:complexType>
<xs:sequence>
<xs:element name = "and"  maxOccurs="unbounded" minOccurs="0" >
<xs:complexType>
<xs:sequence>
<xs:element name = "or">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
<xs:attribute type="xs:string" name="abstract"/>
</xs:complexType>
</xs:element>
<xs:element name = "and">
<xs:complexType>
<xs:sequence>
<xs:element name = "and">
<xs:complexType>
<xs:sequence>
<xs:element name = "alt"  maxOccurs="unbounded" minOccurs="0" >
<xs:complexType>
<xs:sequence>
 </xs:sequence>
<xs:attribute type="xs:string" name="abstract" use="optional"/>
<xs:attribute type="xs:string" name="name" use="optional"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="abstract" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name = "alt">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
<xs:attribute type="xs:string" name="abstract"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="name" use="optional"/>
<xs:attribute type="xs:string" name="abstract" use="optional"/>
<xs:attribute type="xs:string" name="mandatory" use="optional"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="abstract" use="optional"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="abstract"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>